<div class="appledoc">
    <div class="left-col">
        Accessing Related Nodes
    </div>
    <div class="right-col">
        <div class="var">
            <code>var <span class="blue">scene</span>: SKScene?</code>
            <span class="description">The scene node that contains this node.</span>
        </div>
        <div class="var">
            <code>var <span class="blue">parent</span>: SKNode?</code>
            <span class="description">The node's parent node.</span>
        </div>
        <div class="var">
            <code>var <span class="blue">children</span>: [SKNode]</code>
            <span class="description">The node's children.</span>
        </div>
    </div>
</div>