<nav class="col-lg-2">
    <div class="site-navigation">
    <a href="/" class="inverted"> <img src="/img/portrait.jpg"> </a>
    <ul>
        {% for item in site.data.navigation %}
            <li>
                <a class="inverted" href="{{item.link}}">{{item.text}}</a>
            </li>
        {% endfor %}
    </ul>
    </div>
</nav> 
<nav class="container site-navigation-mobile">
    <div class="row">
    {% for item in site.data.navigation %}
    <div class="col">        
        <a href="{{item.link}}">
            <div class="row">
                <img class="clickable" src="{{item.image}}">
            </div>
            <div class="row title">
                <span class="minuscule center darkgray clickable">{{item.text}}</span>
            </div>
        </a>
    </div>
    {% unless forloop.last %}
    <div class="site-navigation-divisor"></div>
    {% endunless %}
    {% endfor %}
    </div>
</nav>