$black: black;
$white: white;
$darkgray: #222;
$deeppink: #EA3991;
//$yellow: 

a{
    background-color: $black;
    color: $white;
    &.inverted{
        background-color: $white;
        color: $black;
    }    
}

.darkgray{
    color: $darkgray;
}