$lightColors: (
    //page
    background: white,
    accent: #EA3991,
    // type
    text: #222,
    text-muted: #555,

    // links
    link-bg: black,
    link-text: white,
    link-inverted-bg: white,
    link-inverted-text: black,
    link-highlight: deepskyblue,

    //navigation
    navigation-bg: white,

    // appledoc
    appledoc-text: black,
    appledoc-bg: #fafafa,
    appledoc-code: #666,
    appledoc-highlight: #0070c9,

    // syntax-highlight:
    sh-background: #fafafa,
    sh-comments: #5D6C79,
    sh-plaintext: rgba(0,0,0,0.85),
    sh-keywords: #9B2393,
    sh-otherdeclarations: #0F68A0,
    sh-typedeclarations: #0B4F79,
    sh-instancevariables: #326D74,
);

$background: #0c0c18;

$darkColors: (
    //page
    background: $background,
    accent: #EA3991,

    // type
    text: white,
    text-muted: #aaa,

    // links
    link-bg: white,
    link-text: $background,
    link-inverted-bg: $background,
    link-inverted-text: white,
    link-highlight: deepskyblue,

    // navigation
    navigation-bg: $background,

    // appledoc
    appledoc-text: white,
    appledoc-bg: rgb(32,37,44),
    appledoc-code: rgb(154,157,160),
    appledoc-highlight: rgb(65,156,255),

    // syntax-highlight:
    sh-background: #1F1F24,
    sh-comments: #6C7986,
    sh-plaintext: rgba(255,255,255,0.85),
    sh-keywords: #FC5FA3,
    sh-otherdeclarations: #41A1C0,
    sh-typedeclarations: #5DD8FF,
    sh-instancevariables: #67B7A4,
);

// mixins

@mixin fill($key) {
    $lightColor: map-get($map: $lightColors, $key: $key);
    $darkColor: map-get($map: $darkColors, $key: $key);
    fill: $lightColor;
    @media (prefers-color-scheme: dark) {
        fill: $darkColor;
    }
}

@mixin color($key) {
    $lightColor: map-get($map: $lightColors, $key: $key);
    $darkColor: map-get($map: $darkColors, $key: $key);
    color: $lightColor;
    @media (prefers-color-scheme: dark) {
        color: $darkColor;
    }
}

@mixin bgcolor($key) {
    $lightColor: map-get($map: $lightColors, $key: $key);
    $darkColor: map-get($map: $darkColors, $key: $key);
    background-color: $lightColor;
    @media (prefers-color-scheme: dark) {
        background-color: $darkColor;
    }
}

// svg dark mode

svg {
    path {
        @include fill('text');
    }

    circle {
        @include fill('text');
    }
}
