#article{
    .content{
        margin-left: 5%;
        margin-right: 5%;
        @media (max-width: $medium-screen) {
            margin: 0;
        }
        img {
            max-width: 100%;
        }
        video, iframe{
            width: 100%;
        }

        img, iframe{
            margin: 0 auto;
        }
        .caption {
            display: block;
            text-align: center;
            font-size: 1rem;
            a {
                font-size: 1rem;
            }
        }
    }
    @media(max-width: $bootstrap-sm){
        margin-bottom: 50px;
    }    
}

/* disable navigation for printing */
@media only print {
    nav {
        display: none;
    }
    .pdf-button {
        display: none;
    }
}
.pdf-button {
    float: right;
    padding: 0 5px;
}

article {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
    iframe {
        align-self: center;
    }
}