.projetos {
    max-width: 100%;
    @media(max-width: $smaller-phone){
        padding-left: 0;
        padding-right: 0;
    }
    .proj-card {
        display: flex;
        margin: 20px 0;
        .image {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                min-width: 350px;
                width: 350px;
                max-width: 350px;
                @media(max-width: $medium-ish){
                    min-width: 100%;
                    width: 100%;
                    max-width: 100%;
                }
            }
            @media(max-width: $medium-ish){
                margin-bottom: 20px;
            }
        }
        .inside {
            margin-left: 20px;
            @media(max-width: $medium-ish){
                margin-left: 0;
            }
            h3 {
                font-size: 3rem;
                @media(max-width: $smaller-phone){
                    font-size: 2rem;
                }
            }
        }
        @media(max-width: $medium-ish){
            flex-direction: column;
        }
    }
    .divider-line{
        border-bottom: 1px solid #ddd;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
    }
    span {
        font-size: 1rem;
    }
}