@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Rubik:300,500,700');


$veryBold: 700;
$bold: 500;
$normal:300;
$normalFont: 1.2rem;
$verySmallFont: 0.8rem;
$bigFont: 1.7rem;
$bigFontLineHeight: 2rem;
$slightlyBigFont: 2rem;
$hugeFont: 4.5rem;
$hugerFont: 7rem;
$minusculeFont: 0.7rem;
$h1Font: 3rem;

body{
    font-family: 'Rubik', 'Helvetica', sans-serif;
    color: $darkgray;
}

.montserrat{
    font-family: 'Montserrat', 'Helvetica', sans-serif;
}

h1, h2, h3{
    @extend .montserrat;
    font-weight: $veryBold;
}

h1{
    font-size: $h1Font;
    &.huge{
        font-size: $hugeFont;
        @media(max-width: $bootstrap-sm){
            font-size: $hugeFont - 1;
        }
    }
    &.extra-huge{
        font-size: $hugerFont;
        @media(max-width: $small-phone){
            font-size: $hugeFont - 0.8;    
        }
        @media only print {
            //make it a bit smaller for print
            font-size: $hugeFont;
        }
    }
}

h2{
    a{
        font-size: $slightlyBigFont; //h2 are 2rem by default
    }
}

h3{
    &.subtitle{
        font-weight: $bold;
    }
}

p {
    font-weight: 300;
    font-size: $normalFont;
    &.big{
        font-size: $bigFont;
        line-height: $bigFontLineHeight;
        a { //Links inside a paragraph are styled to fit within the text
            font-size: $bigFont;
            line-height: $bigFontLineHeight;
        }
    }
    &.very-small{
        font-size: $verySmallFont;
        a{
            font-size: $verySmallFont;
        }
    }
    a{
        font-weight: $bold;
        font-size: $normalFont;
        text-decoration: none;
        padding-left: 3px;
        padding-right: 3px;
        border-radius: 5px;
    }
}

a {  
    background-color: $black;
    color: $white;  
    font-size: $bigFont;    
    text-decoration: none;
    &:hover{
        color: $lightblue;
    }

    &.inverted{
        background-color: $white;
        color: $black;
    }

    &.light {
        font-weight: 300;
    }
}

.center{
    text-align: center;
}

@media(min-width: $medium-screen){
    .off-center{
        margin-left: 7%;
    }
}

.minuscule {
    font-size: $minusculeFont;
}