body{
	a{
		color: black;
	}
}

.card{
	width: 24%;
	margin-right: 10px;
	margin-bottom: 10px;
	min-height: 446px;
	border: 1px solid #eee;
	border-radius: 20px;
	text-decoration: none;
	padding-top: 10px;
	.autor{
		color: grey;
	}
	h2{
		font-size: 2em;
	}
	img{
		width: 100%;
	}
	@media screen and (max-width: 1024px){
		width: 100%;
	}
}