
.site{
    &-navigation{
        #title {
            font-weight: 500;
        }
        display: flex;
        justify-content: flex-start;
        @include bgcolor('navigation-bg');
        margin: 0;              
        padding: 10px 10%;     
        @media (max-width: $small-phone) {
            padding: 10px 0;     
        }
        
        a, li {
            align-self: center;
            margin: 0 10px;
            text-decoration: none;
            @media(max-width: $small-phone) {
                margin: 0 5px;
            }
        }
        ul{
            display: flex;
            padding-left: 0;
            margin: 0;
            text-align: center;          
        }
        li{
            list-style: none;    
            font-weight: 300;        
        }  

        &-divisor{
            border-right: 1px solid #eee;
            margin-bottom: 1%;
        }
        &-mobile {            
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 1000;
            @include bgcolor('navigation-bg');
            padding-top: 5px;    
            border-top: 1px solid #eee;                                       
            img {                          
                max-height: 30px;                
                min-height: 30px;  
                max-width: 45px;                
                padding-bottom: 2px;
            }
            .clickable {
                margin: 0 auto;
            }
            @media(min-width: $bootstrap-sm){            
                display: none;   
            }
        }
    }

    @media(max-width: $medium-screen){
        &-content{
            margin-left: 0;
        }
    }
}