@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Rubik:300,500,700');

// weight
$normal:300;
$bold: 500;
$veryBold: 700;

// size
$minusculeFont: 0.7rem;
$verySmallFont: 0.8rem;
$smallFont: 1rem;
$normalFont: 1.2rem;
$bigFont: 1.7rem;
$slightlyBigFont: 2rem;
$hugeFont: 4.5rem;
$hugerFont: 7rem;
$h1Font: 3rem;

// line height
$bigFontLineHeight: 2rem;

body{
    font-family: 'Rubik', 'Helvetica', sans-serif;
    @include color('text');
}

.montserrat{
    font-family: 'Montserrat', 'Helvetica', sans-serif;
}

h1, h2, h3{
    @extend .montserrat;
    font-weight: $veryBold;
}

h1{
    font-size: $h1Font;
    &.huge{
        font-size: $hugeFont;
        @media(max-width: $bootstrap-sm){
            font-size: $hugeFont - 1;
        }
    }
    &.extra-huge{
        font-size: $hugerFont;
        @media(max-width: $small-phone){
            font-size: $hugeFont - 0.8;    
        }
        @media only print {
            //make it a bit smaller for print
            font-size: $hugeFont;
        }
    }
}

h2{
    a{
        font-size: $slightlyBigFont; //h2 are 2rem by default
    }
}

h3{
    &.subtitle{
        font-weight: $bold;
    }
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: $normalFont;
    &.big{
        font-size: $bigFont;
        line-height: $bigFontLineHeight;
        a { //Links inside a paragraph are styled to fit within the text
            font-size: $bigFont;
            line-height: $bigFontLineHeight;
        }
    }
    &.very-small{
        font-size: $verySmallFont;
        a{
            font-size: $verySmallFont;
        }
    }
    a{
        font-weight: $bold;
        font-size: $normalFont;
        text-decoration: none;
        padding-left: 3px;
        padding-right: 3px;
        border-radius: 5px;
    }
}

li {
    a {
        font-size: $smallFont;
    }
    
    font-weight: 300;
}

a {  
    @include bgcolor('link-bg');
    @include color('link-text');
    font-size: $bigFont;    
    text-decoration: none;
    &:hover{
        @include color('link-highlight');
    }

    &.inverted{
        @include bgcolor('link-inverted-bg');
        @include color('link-inverted-text');
    }

    &.light {
        font-weight: 300;
    }
}

.center{
    text-align: center;
}

.muted {
    font-size: $smallFont;
    font-style: italic;
    @include color('text-muted');
    a {
        font-style: normal;
        font-size: $smallFont;
    }
    strong {
        font-weight: $bold;
    }
}

.caption {
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

@media(min-width: $medium-screen){
    .off-center{
        margin-left: 7%;
    }
}

.minuscule {
    font-size: $minusculeFont;
}
