<div id="intro" class="container">
    <p>
        Estas são as regras que definem o visual do site do Mauricio. Foram criadas pelo próprio Mauricio, para garantir a consistência dos elementos visíveis no site dele. É um documento em constante desenvolvimento e evolução, e sendo assim, não deve nunca ser tomado como final.
    </p>   
    <p>
        Como toda boa documentação de design online deve ser, o estilo da página é automaticamente aplicado no site todo. Mas ele não segue à risca esta guia. Vai que eu quero fazer alguma brincadeira, não é? E qual seria a graça dessas regras se eu não as quebrasse de vez em quando :)
    </p>
</div>