<div id="intro" class="container">
    <p>
        Estas são as regras que definem o visual do site do Mauricio. Foram criadas pelo próprio Mauricio, para garantir a consistência dos elementos visíveis no site dele.
    </p>   
    <p>
        Como toda boa documentação de design online deve ser, o estilo da página é automaticamente aplicado no site todo. Mas não garanto que o site seguirá à risca esta guia. Vai que eu quero fazer alguma brincadeira, não é? E qual seria a graça dessas regras se eu não as quebrasse de vez em quando, não é?
    </p>
</div>