<div id="tipografia">
    <h1 class="title">Regras de tipografia</h1>        
    <h2>Fontes</h2>
    <p>
        Escolhi duas fontes principais para uso no site. Se eu carregar mais alguma, é alguma configuração específica da página, por motivos que espero que fiquem claros com o contexto.
    </p>

    <h2>Uso da tipografia</h2>
    <div class="row">
        <div class="col">
            <p>Montserrat para coisas grandes</p>  
            <h1>Este é um h1</h1>
            <h2>Este é um h2</h2>
            <h3>Este é um h3</h3>
            <h3 class="subtitle">Este é um h3 quando utilizado como subtítulo</h3>
            <p class="text-muted">Eu espero não usar mais do que 3 níveis de heading</p>
            <p class="very-small">                
                A Montserrat pode ser encontrada no <a href="https://fonts.google.com/specimen/Montserrat">Google Fonts</a> e está licenciada sobre a SIL Open Font License.
            </p>
        </div>
        <div class="col">
            <p>Rubik para os textos pequenos</p>
            <a href="">Esta é uma princesa Zelda (não tem nada pra clicar aqui)</a>    

            <p class="big">
                Esse aqui é um texto de parágrafo com tamanho grande. Pra quando a gente quer fazer aquele texto curto, com bastante destaque, sabe?
            </p>

            <p>
                Esse aqui é um texto de parágrafo comum. Parágrafos são largos blocos de texto genéricos. No caso deste, temos um bloco de texto bem pequeno, mas que 
                pode, quando ficar mais velho, virar um belo blocão de texto.
            </p>


            <p class="very-small">
                A Rubik pode ser encontrada no <a href="https://fonts.google.com/specimen/Rubik">Google Fonts</a> e está licenciada sobre a SIL Open Font License. E sim, este é um texto realmente bem pequeno.
            </p>

        </div>
    </div>

        <p class="center">Este é um texto centralizado. Posso utilizar esta regra em qualquer tipo de texto.</p>

        <p>
            Eu tenho a intenção de manter um estilo de arte mais sóbrio pras partes que não deveriam estar em destaque no site (i.e.: navegação, essa documentação, coisas que não são os trabalhos que eu fiz, basicamente), mas para isso, preciso definir algumas regrinhas básicas. Como você pode notar ao seu redor, os menus tem links na cor preta, mas dentro de um corpo de texto, <a href="">esses links tem um peso diferente, e um underline o tempo todo (embora eu sinta que isto ainda é muito forte e eu acho que vou mudar)</a>, porque senão seria um horror os diferenciar do resto do texto.
        </p>        
    
</div>